form-groups {
  width: 100px;
  height: 30px;
}

main {
  align-items: center;
  display: block;
  margin: 0 auto;
}

country {
  font: 16px;
}

city {
  font: 22px;
}

day-and-time {
  font: 15px;
}

weeks {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-gap: 30px;
}

weekdays {
  font: 18px;
  text-align: center;
}

high-temp {
  color: black;
  font: 16px;
}

low-temp {
  color: rgb(173, 170, 170);
  font: 16px;
}

footer {
  align-items: center;
  color: grey;
  font: 16px;
}
