body {
  background-color: rgb(111, 141, 143);
}
.form-groups {
  width: 100px;
  height: 100px;
  top: 5px;
  position: relative;
}

.search-form-input {
  background-color: rgb(224, 221, 216);
  border: none;
  border-radius: 5px;
  max-width: 100%;
  font-size: 16px;
  padding: 15px 25%;
  text-align: left;
}

.form-button {
  border: none;
  background-color: rgb(161, 158, 149);
  border-radius: 5px;
  max-width: 20%;
  font-size: 16px;
  padding: 15px 20px;
}

.container {
  display: block;
  margin: 30px auto;
  background-color: rgb(158, 167, 167);
  padding: 30px;
  max-width: 600px;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}

main {
  top: -25px;
}

.country {
  font-size: 25px;
}

.city {
  font-size: 38px;
  top: -10px;
  line-height: 1.5px;
}

.day-and-time {
  font-size: 18px;
  top: -10px;
  line-height: 1.5px;
}
.day {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  border: 2px solid rgb(196, 191, 191);
  border-radius: 20px;
  border-style: ridge;
  box-shadow: 10px;
  background-color: rgb(120, 144, 151);
}
.weather {
  line-height: 150%;
  display: inline-flexbox;
}
.current-degree {
  font-size: 28px;
}

.current-weather {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.emoji-weather-main {
  font-size: 55px;
  display: left;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.emoji-weather {
  align-items: center;
  padding: 10px;
  font-size: 20px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  font-size: 16px;
  text-align: center;
  color: black;
  line-height: 20px;
}

.weather-forecast-icon {
  width: 88px;
  height: 83px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperature {
  text-align: center;
  display: flex;
  justify-content: center;
  color: rgb(34, 47, 48);
  margin-top: 10px;
}
.weather-forecast-temperature-max {
  font-weight: bold;
  padding: 0 10px;
}
.weather-forecast-temperature-min {
}

footer {
  text-align: center;
  color: rgb(78, 76, 76);
  font-size: 16px;
}
