.form-groups {
  width: 100px;
  height: 100px;
  top: 5px;
  position: relative;
}

.search-form {
  background-color: rgb(224, 221, 216);
  border: none;
  border-radius: 5px;
  max-width: 100%;
  font-size: 16px;
  padding: 15px 25%;
  text-align: left;
}

.form-button {
  border: none;
  background-color: rgb(161, 158, 149);
  border-radius: 5px;
  max-width: 20%;
  font-size: 16px;
  padding: 15px 20px;
}

.container {
  display: block;
  margin: 30px auto;
  background-color: rgb(196, 187, 171);
  padding: 30px;
  max-width: 600px;
  border-radius: 10px;
}

main {
  top: -25px;
}

.country {
  font-size: 30px;
  margin-bottom: 20px;
}

.city {
  font-size: 36px;
}

.day-and-time {
  font-size: 20px;
}
.day {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border: 2px solid rgb(228, 226, 226);
  border-radius: 20px;
  border-style: outset;
  box-shadow: 10px;
}
.weather {
  line-height: 150%;
}
.current-degree {
  font-size: 45px;
}
.currently {
  font-size: 26px;
  padding: 60px;
}
.weeks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 3px;
  box-sizing: border-box;
}

.emoji-weather-main {
  font-size: 50px;
}

.emoji-weather {
  align-items: center;
  font-size: 20px;
}

.this-week {
  font-size: 20px;
}
.week-temp {
  border: 5px solid rgb(228, 226, 226);
  border-radius: 20px;
  border-style: double outset;
  box-shadow: 0px;
  padding: 15px;
  margin: 0 auto;
}
.weekdays {
  font-size: 18px;
  text-align: center;
}

.high-temp {
  color: black;
  font-size: 16px;
}

.low-temp {
  color: rgb(100, 96, 96);
  font-size: 16px;
}

footer {
  align-items: center;
  color: rgb(78, 76, 76);
  font-size: 16px;
}
