body {
  background-color: rgb(111, 141, 143);
}
.form-groups {
  width: 100px;
  height: 100px;
  top: 5px;
  position: relative;
}

.search-form-input {
  background-color: rgb(224, 221, 216);
  border: none;
  border-radius: 5px;
  max-width: 100%;
  font-size: 16px;
  padding: 15px 25%;
  text-align: left;
}

.form-button {
  border: none;
  background-color: rgb(161, 158, 149);
  border-radius: 5px;
  max-width: 20%;
  font-size: 16px;
  padding: 15px 20px;
}

.container {
  display: block;
  margin: 30px auto;
  background-color: rgb(189, 199, 199);
  padding: 30px;
  max-width: 600px;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}

main {
  top: -25px;
}

.country {
  font-size: 25px;
}

.city {
  font-size: 38px;
  top: -10px;
  line-height: 1.5px;
}

.day-and-time {
  font-size: 18px;
  top: -10px;
  line-height: 1.5px;
}
.day {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  border: 2px solid rgb(228, 226, 226);
  border-radius: 20px;
  border-style: ridge;
  box-shadow: 10px;
  background-color: rgb(214, 224, 220);
  padding: 20px;
}
.weather {
  line-height: 150%;
}
.current-degree {
  font-size: 45px;
}
.currently {
  font-size: 26px;
  padding: 60px;
}
.weeks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 1px;
}

.emoji-weather-main {
  font-size: 50px;
}

.emoji-weather {
  align-items: center;
  padding: 10px;
  font-size: 20px;
}

.this-week {
  font-size: 20px;
}
.week-temp {
  border: 2px solid rgb(228, 226, 226);
  background-color: rgb(214, 224, 220);
  border-radius: 20px;
  border-style: ridge;
  box-shadow: 0px;
  padding: 17px;
  margin: 0 auto;
  transition: all 200ms;
}
.week-temp:hover {
  cursor: pointer;
  background-color: rgb(151, 163, 161);
}
.weekdays {
  font-size: 18px;
  text-align: center;
}

.high-temp {
  color: black;
  font-size: 16px;
}

.low-temp {
  color: rgb(100, 96, 96);
  font-size: 16px;
}

footer {
  text-align: center;
  color: rgb(78, 76, 76);
  font-size: 16px;
}
